# Port number
PORT=3000
NODE_ENV=test
# URL of the Mongo DB
MONGODB_URL=mongodb://127.0.0.1:27017/palspay

# JWT
# JWT private key
JWT_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----
MIIEowIBAAKCAQEA5xQJbV2S3ugfinnzN+8fNXboDKdRUmK5HmyjyaK0MwpqijWp
1Wq82VDXs4RZjT1zrDySi+0esQBgs4OkZ5Cc0K4In51hiqL40jKVsP8TlMRQgYeo
vFWas/cLFrqzyc74+mDXeN8aHFnaA3JDO5zbsYvlFnptuzB4aSBuunhn0xznvDl0
+GmMe3pA0+NDlIAOvWsaPOZYlzC9sB3pmW6Opbk8Fb11AP0ozEiaArB5x4ojWK2h
wJWMzLZSd2OZcXLxATWlo/DHM3DqknJqfTsmcfHn4VOTVsjuBUgBFDfBlBVTJ1XI
JedYefNooqDsDO66r09wdtV4b35bBJIf+UZaQQIDAQABAoIBAAovtu6sRlIvN1y6
XX9kuiJ4OGh+Y7ZXBcQSk/HKi1kIp4OqM+9lgieuSaPvPKdeQyAfl3I1pLm2w4yG
TBQIqvEECvtGS8t5vbA+bJzd0bYoJUhge46501UFmeaJmm1WA2G+LSF17Ee9qj+m
pNIW6xRbj2C7SuUKkPRJargroKAMu7RGRDCuERiaedFWHXAIlDRYay/c6ctdhjJR
dRNVObp3sB/ZuIwJ8rQwW78dBDMJMx4NaGH9EUHWIxufk5GWhsTnUOZKnw1q+iRo
oA5gjTPR3Y9qfVfSIycJGQ3Q6gqhGlhq30k1JY1/LfyixMZ0E5cn5QVzQcLiCreo
E4Ra4AECgYEA9tyd6qwIU4HZKMXRk3AZNpDUcoAnV3hTmHm7X5dl3g0VKi0qvuSs
c6/SOSJI2oecePhvwi94GXfY0qwbhM5HskmUhMmXqV8wh39Q0S0Rx9VaXFjOt+Xm
lNImpEXYWb53t+FO/IC1ZIMOhgpMi1a/DGmhvbeaedwFC6X8XdMn+cECgYEA76HY
/uqeNRr8PQXVimFdhOK4MSZGKwJkI+WwqPO9oUsoOgCDFJeeiBWLj/nyLvlE70sx
seWFuZv8V1HSkGnqyt0EIBcW+0RX0c42NEuWqleOpnJF4Bwg6S3KmnzaPAMPkFQC
CWaYw50nY87CTw7mZQ7fkjIisi4ehKbpIHuBgIECgYBXyMIbNkvLrkwT1KyfGmjM
35m8kdfroe1QNlGsP4FJAiv5kJA3y8eLaAWArbFsjHbXCblsO0cg/15KJEuw4U3b
l5DJ24oj/6aZOGv7xmQhRLxaRHZWLNnfKA/3sKKr3zBhYiydXAOlF3mtrrHjhthv
SIzskwLKvLPKnZ7tmm4HwQKBgQDodGIhdsqdzV2efIhXQngLrjrrQquSkTE/OVMT
sc3kJxoQmeqOET5x2CSYN+hc9OWQE6tTXMlJ8izpL7BI8tYWkCuuTXe3quZd2eHu
/Nxcxa7Ve8iYy/CJAiilkDPLP1TbtwJ6yBGswEgzo6AOPO/2XGU4VnYdzmtAVwGS
xvwrAQKBgCk6lO6p4NWr0Yudqx4CHzrIokfjury5dQldx8LYVOD2Wjo8f0f1IeCY
suG6W/ylZ08mKYciuC5VOCTs0QojvjOrQ5i+xf2PE8MBSRpZOIGsMRkZWQPz6ZHC
oE+LjnvNiuBbjmbL7MVXWUyeldLvAuBqUEjv2UvDXbS+eDzXXIQP
-----END RSA PRIVATE KEY-----
"
JWT_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----
MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA5xQJbV2S3ugfinnzN+8f
NXboDKdRUmK5HmyjyaK0MwpqijWp1Wq82VDXs4RZjT1zrDySi+0esQBgs4OkZ5Cc
0K4In51hiqL40jKVsP8TlMRQgYeovFWas/cLFrqzyc74+mDXeN8aHFnaA3JDO5zb
sYvlFnptuzB4aSBuunhn0xznvDl0+GmMe3pA0+NDlIAOvWsaPOZYlzC9sB3pmW6O
pbk8Fb11AP0ozEiaArB5x4ojWK2hwJWMzLZSd2OZcXLxATWlo/DHM3DqknJqfTsm
cfHn4VOTVsjuBUgBFDfBlBVTJ1XIJedYefNooqDsDO66r09wdtV4b35bBJIf+UZa
QQIDAQAB
-----END PUBLIC KEY-----"



# SMTP configuration options for the email service
# For testing, you can use a fake SMTP service like Ethereal: https://ethereal.email/create
SMTP_HOST=email-server
SMTP_PORT=587
SMTP_USERNAME=email-server-username
SMTP_PASSWORD=email-server-password
EMAIL_FROM=support@yourapp.com